* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.common-btn {
  background-color: #1d4ed8;
  text-align: center;
  padding: 10px 30px;
  color: white;
  border-color: #2563eb;
  border-radius: 4px;
  font-weight: bold;
  width: fit-content;
  justify-self: center;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 4px 40px;
  text-align: center;
  margin-top: 10px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  text-align: center;
}
a {
  text-decoration: none;
  color: #888888;
}
header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* header  */
.header-content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
  width: 400px;
  padding: 50px 0px;
}
.header-content button {
  margin-top: 250px;
}
.motto {
  font-weight: bolder;

  width: 450px;
  width: 500px;
}

/* Speaker Section */
.speakers {
  width: 90%;
  max-width: 1200px;
  margin: 80px auto;
}

.speakers h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

/* Grid Container */

.speaker-container {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 30px;
}

.card {
  border: 1px solid #e5e7eb;

  border-radius: 10px;

  overflow: hidden;

  background: #fff;
}

.card img {
  width: 100%;

  height: 280px;

  object-fit: cover;

  display: block;
}

.card-content {
  padding: 20px;
}

.card-content h5 {
  color: #2563eb;

  font-size: 12px;

  margin-bottom: 10px;
}

.card-content h3 {
  font-size: 28px;

  margin-bottom: 10px;
}

.card-content p {
  color: #666;
}

/* pricing section in css */

.pricing {
  width: 90%;

  margin: 100px auto;
}

.pricing h2 {
  text-align: center;

  font-size: 52px;

  font-weight: 700;

  color: #0f172a;

  margin-bottom: 10px;
}

.subtitle {
  text-align: center;

  color: #6b7280;

  font-size: 15px;

  margin-bottom: 50px;
}

/* Grid */

.pricing-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

/* Card */

.pricing-card {
  border: 1px solid #e5e7eb;

  border-radius: 10px;

  padding: 22px;

  background: #fff;

  display: flex;

  flex-direction: column;
}

.pricing-card h5 {
  color: #6b7280;

  font-size: 12px;

  letter-spacing: 1px;

  margin-bottom: 10px;
}
.pricing-card .pro {
  color: #0a48f3;
}

.pricing-card h1 {
  font-size: 52px;

  color: #0f172a;

  margin-bottom: 5px;
}

.pricing-card span {
  color: #6b7280;

  font-size: 14px;
}

.pricing-card hr {
  margin: 20px 0;

  border: none;

  border-top: 1px solid #e5e7eb;
}

/* Feature List */

.pricing-card ul {
  padding-left: 18px;
  list-style: blue circle;
  margin-bottom: 25px;
}

.pricing-card li {
  color: #374151;

  margin-bottom: 12px;

  font-size: 14px;
}

/* Button Bottom */

.pricing-card button {
  margin-top: auto;

  width: 100%;

  padding: 12px;

  border-radius: 6px;

  cursor: pointer;

  font-weight: 600;

  font-size: 15px;
}

/* White Cards */

.outline-btn {
  background: white;

  color: #2563eb;

  border: 1px solid #2563eb;
}

/* Featured Card */

.featured {
  background: #0f172a;

  color: white;
}

.featured h1,
.featured h5,
.featured span,
.featured li {
  color: white;
}

.featured hr {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.get-pro-btn {
  background: #2563eb;

  color: white;

  border: none;
}

/* WHY ATTEND SECTION */

.why-attend {
  width: 100%;
  padding: 80px 0;
  background: #f5f7fb;
  text-align: center;
}

.why-attend h2 {
  font-size: 48px;
  color: #0f172a;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 60px;
}

/* Card Container */

.attend-container {
  width: 1100px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card */

.attend-card {
  width: 320px;
  background: white;

  border-radius: 12px;

  padding: 30px;

  margin-bottom: 35px;

  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.08);

  transition: 0.3s;

  box-sizing: border-box;
}

/* Hover */

.attend-card:hover {
  background: #2563eb;

  color: white;

  transform: translateY(-8px);
}

/* Icon */

.icon {
  font-size: 45px;

  margin-bottom: 20px;
}

/* Card Heading */

.attend-card h3 {
  font-size: 24px;

  margin-bottom: 15px;
}

/* Card Paragraph */

.attend-card p {
  font-size: 16px;

  line-height: 26px;
}
